body::before {
	background-attachment: scroll;
	content: '';
	display: block;
	height: var(--background-height);
	left: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	transform: scale(1);
	width: 100vw;
	z-index: 0;
	background-image: url('images/bg-9da7ac9a.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #FFFFFF;
}